<div class="card-group">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-cog" aria-hidden="true"></i>
      <span>Accounts</span>
    </div>
    <div class="card-block">
      <div>
        <a class="external-connect-link" href="{{apiEndpoint}}/oauth/{{model.name}}/auth">
          <i class="fa fa-plus"></i>
          <span>Add account</span>
        </a>
      </div>
      <table>
        {{#each model.accounts as |account|}}
          <tr>
            <td><i class="fa fa-square" aria-hidden="true"></i></td>
            <td>{{account.name}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-info" aria-hidden="true"></i>
      <span>Information</span>
    </div>
    <div class="card-block">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card text-xs-center">
            <div class="card-block">
              <h4 class="card-title"><i class="fa fa-users" aria-hidden="true"></i></h4>
              <p class="card-text">{{model.eventsCount}} Events</p>
            </div>
          </div>
          <div class="card text-xs-center">
            <div class="card-block">
              <h4 class="card-title"><i class="fa fa-commenting" aria-hidden="true"></i></h4>
              <p class="card-text">{{model.messagesCount}} Messages</p>
            </div>
          </div>
          <div class="card text-xs-center">
            <div class="card-block">
              <h4 class="card-title"><i class="fa fa-tasks" aria-hidden="true"></i></h4>
              <p class="card-text">{{model.agentsCount}} Agents</p>
            </div>
          </div>
          <div class="card text-xs-center">
            <div class="card-block">
              <h4 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i></h4>
              <p class="card-text">{{model.locationsCount}} Locations</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
