<div class="panel {{if error "panel-danger" "panel-success"}}">
    <div class="panel-heading{{if isSelect " panel-heading-nav"}}">
        <h3 class="panel-title{{if isSelect " pull-left"}}">
            Result
            {{#if isSelect}}({{rows.length}} rows){{/if}}
        </h3>
        {{#if isSelect}}
            <a class="btn btn-default pull-right" type="button" href="{{csvUri}}" download>Download as CSV</a>
            <div class="clearfix"></div>
        {{/if}}
    </div>
    <div class="{{if isSelect "table-responsive" "panel-body"}}">
        {{#if error}}
            {{error}}
        {{else if isSelect}}
            <table class="table table-hover">
                <thead>
              <tr>
                  {{#each header as |var|}}
                      <th>{{var}}</th>
                {{/each}}
              </tr>
                </thead>
                <tbody>
                {{#each rows as |row|}}
                    <tr>
                        {{#each row as |term|}}
                            <td>
                                {{#if term}}
                                    {{component (concat 'sparql-result-' term.type) term=term}}
                                {{/if}}
                            </td>
                        {{/each}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else if isAsk}}
            {{#if result.boolean}}true{{else}}false{{/if}}
        {{else if isConstruct}}
            {{rdf-json-d3 rdfJson=result removePrefix=removePrefix}}
        {{else if isUpdate}}
            UPDATE OK
        {{/if}}
    </div>
</div>
