<div class="panel {{if error "panel-danger" "panel-success"}}">
    <div class="panel-heading{{if csvUri " panel-heading-nav"}}">
        <h3 class="panel-title{{if csvUri " pull-left"}}">
            Result {{#if resultCount}}({{resultCount}}){{/if}}
        </h3>
        {{#if csvUri}}
            <a class="btn btn-default pull-right" type="button" href="{{csvUri}}" download>Download as CSV</a>
            <div class="clearfix"></div>
        {{/if}}
    </div>
    <div class="{{if isSelect "" "panel-body"}}">
        {{#if error}}
            {{error}}
        {{else if isSelect}}
            {{sparql-result-table result=result removePrefix=removePrefix}}
        {{else if isAsk}}
            {{#if result.boolean}}true{{else}}false{{/if}}
        {{else if isConstruct}}
            {{rdf-json-d3 rdfJson=result removePrefix=removePrefix}}
        {{else if isUpdate}}
            UPDATE OK
        {{/if}}
    </div>
</div>
