<div class="panel {{if error "panel-danger" "panel-success"}}">
    <div class="panel-heading{{if csvUri " panel-heading-nav"}}">
        <h3 class="panel-title{{if csvUri " pull-left"}}">
            Result {{#if resultCount}}({{resultCount}}){{/if}}
        </h3>
        {{#if csvUri}}
            <a class="btn btn-default pull-right" type="button" href="{{csvUri}}" download>Download as CSV</a>
            <div class="clearfix"></div>
        {{/if}}
    </div>
  {{#if error}}
    <div class="panel-body">{{error}}</div>
  {{else if isSelect}}
    <div>
      {{#if isMap}}
        {{sparql-result-map result=result removePrefix=removePrefix}}
      {{else}}
        {{sparql-result-table result=result removePrefix=removePrefix}}
      {{/if}}
    </div>
  {{else if isAsk}}
    <div class="panel-body">{{#if result.boolean}}true{{else}}false{{/if}}</div>
  {{else if isConstruct}}
    <div>
      {{#if isMap}}
        {{sparql-result-graph-map result=result removePrefix=removePrefix}}
      {{else}}
        {{graph/rdf-json rdfJson=result removePrefix=removePrefix}}
        {{/if}}
    </div>
  {{else if isUpdate}}
    <div class="panel-body">UPDATE OK</div>
  {{/if}}
</div>
