<div class="card {{if error "card-danger card-inverse"}}">
    <div class="card-header">
        <h3 class="{{if hasCsv "pull-left"}}">
            Result {{#if resultCount}}({{resultCount}}){{/if}}
        </h3>
        {{#if hasCsv}}
            <button class="btn btn-default pull-right" {{action "downloadAsCsv"}}>Download as CSV</button>
            <div class="clearfix"></div>
        {{/if}}
    </div>
  {{#if error}}
    <div class="card-block"><p class="card-text">{{error}}</p></div>
  {{else if isSelect}}
    <div class="card-simple-block">
      {{#if isMap}}
        {{sparql-result-map result=result removePrefix=removePrefix}}
      {{else}}
        {{sparql-result-table result=result removePrefix=removePrefix}}
      {{/if}}
    </div>
  {{else if isAsk}}
    <div class="card-block"><p class="card-text">{{#if result.boolean}}true{{else}}false{{/if}}</p></div>
  {{else if isConstruct}}
    <div class="card-simple-block">
      {{#if isMap}}
        {{sparql-result-graph-map result=result removePrefix=removePrefix}}
      {{else}}
        {{graph/rdf-json rdfJson=result removePrefix=removePrefix}}
      {{/if}}
    </div>
  {{else if isUpdate}}
    <div class="card-block"><p class="card-text">UPDATE OK</p></div>
  {{/if}}
</div>
