<div class="system-status">
  <div class="panel-header" title="System status">
    <i class="fa fa-history history-icon" {{action "toggleSystemHistoryBody"}}></i>
    <i class="fa fa-tasks tasks-icon" {{action "toggleSystemTasksBody"}}></i>
    <i class="fa {{activityIcon}} activity-icon" {{action "toggleSystemTasksBody"}}></i>
  </div>

  {{#liquid-if isShowingSystemHistoryBody class='system-history-body'}}
    {{sparql-history-grid openQuery=(action "openQuery")}}
  {{/liquid-if}}

  {{#liquid-if isShowingSystemTasksBody class='system-status-body'}}
    {{#if tasks}}
      <table class="tasks-table">
          {{#each tasks as |task|}}
            {{system-task task=task}}
          {{/each}}
      </table>
    {{else}}
      <div class="no-tasks-message">{{#if (eq serverStatus 'ok')}}There are currently no tasks running.{{else if (eq serverStatus 'connecting')}}Connecting to server...{{else if (eq serverStatus 'unreachable')}}Unreachable server.{{else}}Unknown server status.{{/if}}</div>
    {{/if}}
  {{/liquid-if}}
</div>