<td><i class="fa fa-plug">{{task.type}}</i></td>
<td>{{task.name}}</td>
<td>{{task.startDate}}</td>
<td>
  {{#if task.progress}}
    <progress value="{{task.progress}}" max="100"></progress>
  {{else}}
    <progress></progress>
  {{/if}}
</td>
<td>
  {{#if task.progress}}
    {{task.progress}}%
  {{else}}
    -
  {{/if}}
  </td>
<td>{{task.status}}</td>