<div class="query-controls">
  {{#power-select tagName="div" class="query-list" options=sortedQueries placeholder="Enter query name" selected=selectedQuery allowClear=true noMatchesMessage="Hit enter to create new query." onchange=(action "selectQuery")
  onkeydown=(action "createOnEnter") as |savedQuery|}}
    {{savedQuery.id}}
  {{/power-select}}
  <div class="btn-group">
    {{#link-to "query.new" class="btn btn-secondary"}}{{fa-icon "file-o"}}{{/link-to}}
    <button class="btn btn-secondary" {{action "save"}} disabled={{or (eq query.id "new") (not isDirty)}}>{{fa-icon "save"}}</button>
    <button class="btn btn-warning" {{action "undo"}} disabled={{eq query.id "new"}}>{{fa-icon "undo"}}</button>
    <button class="btn btn-danger" {{action "delete"}} disabled={{query.isNew}}>{{fa-icon "remove"}}</button>
  </div>
</div>
<div class="query-textarea form-group">
  {{sparql-editor class="form-control" name="query" required=true autofocus=true value=queryContent valueUpdated=(action (mut queryContent))}}
</div>
{{#if (and query.result.isSettled (not error))}}
  <div class="alert alert-success" role="alert">OK</div>
{{/if}}
{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{#each errorLines as |errorLine|}}
      {{errorLine}}<br>
    {{/each}}
  </div>
{{/if}}

