<div class="query-container">
  <div class="app-body-header jumbotron title">
    <h1><i class="fa fa-code"></i> Query</h1>
    <div class="app-body-header-command">
      <button class="btn btn-primary" {{action "query"}} disabled={{query.result.isPending}}>{{fa-icon "play"}}</button>
      {{#link-to "query.edit.index" class="btn btn-secondary"}}{{fa-icon "edit"}}{{/link-to}}
      <div class="btn-group">
        {{#link-to "query.edit.result.table" class="btn btn-secondary" disabled=(not (and query.result.isSettled tableCompatible))}}{{fa-icon "table"}}{{/link-to}}
        {{#link-to "query.edit.result.map" class="btn btn-secondary" disabled=(not (and query.result.isSettled mapCompatible))}}{{fa-icon "map"}}{{/link-to}}
        {{#link-to "query.edit.result.graph" class="btn btn-secondary" disabled=(not (and query.result.isSettled graphCompatible))}}{{fa-icon "share-alt"}}{{/link-to}}
      </div>
    </div>
  </div>
  <div class="query-editor-container">
    {{outlet}}
  </div>
</div>