<div class="query-container container-fluid">
  <div class="app-body-header">
    <h1><i class="fa fa-code"></i> Query</h1>
    <div class="btn-group pull-right">
      <button class="btn btn-primary" {{action "query"}} disabled={{result.isPending}}>{{fa-icon "play"}}</button>
      <button class="btn btn-secondary">{{fa-icon "table"}}</button>
    </div>
  </div>
  {{#if showResult}}
    <div class="query-result">
      {{sparql-result queryType=result.queryType result=result.content.content error=result.reason removePrefix=result.removePrefix isMap=isMap}}
    </div>
  {{else}}
    <div class="query-controls">
      {{#power-select tagName="div" class="query-list" options=savedQueries placeholder="Saved queries" selected=query allowClear=true noMatchesMessage="Hit enter to create new query." onchange=(action "selectQuery")
      onkeydown=(action "createOnEnter") as |savedQuery|}}
        {{savedQuery.id}}
      {{/power-select}}
      <div class="btn-group">
        <button class="btn btn-secondary" {{action "save"}} disabled={{and query (not query.hasDirtyAttributes)}}>{{fa-icon "save"}}</button>
        <button class="btn btn-danger" {{action "delete"}} disabled={{or (not query) query.isNew}}>{{fa-icon "remove"}}</button>
      </div>
    </div>
    <div class="query-textarea form-group">
      {{textarea class="form-control" name="query" required=true autofocus=true value=queryContent rows=1}}
    </div>
  {{/if}}
</div>