<div class="app-body-header jumbotron title">
  <h1><i class="fa fa-users"></i> Contacts</h1>
</div>
<div class="container-fluid">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span>
    {{input class="form-control" value=filterText type='text' placeholder='Filter'}}
  </div>
  <div class="row">
    {{#each filteredContacts as |contact|}}
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="contact-container card card-block">
          <div class="contact-image-container">
            {{#if contact.image}}
              <img class="img-circle contact-image" src={{contact.image}}/>
            {{else}}
              <i class="fa fa-user img-circle contact-no-image" aria-hidden="true"></i>
            {{/if}}
          </div>
          <div class="contact-description-container">
            {{#link-to "contacts.item" contact.route title=contact.name}}{{#if contact.name}}{{contact.name}}{{else}}{{contact.email}}{{/if}}{{/link-to}}
            <div>
              {{#each contact.sourceAccountServices as |sourceAccountService|}}
                {{service-source-tag source=sourceAccountService.source account=sourceAccountService.account service=sourceAccountService.service}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>