<div class="app-body-header jumbotron title">
  <h1><i class="fa fa-users"></i> {{#link-to "contacts" class="nav-link"}}Contacts{{/link-to}} > {{model.name}}</h1>
</div>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h1 class="card-title contact-title">{{#if model.images.firstObject}}<img src={{model.images.firstObject}}/> {{/if}}{{model.name}}</h1>
    </div>
    <ul class="list-group list-group-flush">
    {{#each model.fields as |field|}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-2 col-xs-3">
            {{#if (eq field.property "email")}}<i class="fa fa-envelope-o" title="Email address"></i>
            {{else if (eq field.property "name")}}Full name
            {{else if (eq field.property "givenName")}}Given name
            {{else if (eq field.property "familyName")}}Family name
            {{else if (eq field.property "telephone")}}<i class="fa fa-phone" title="Telephone"></i>
            {{else if (eq field.property "image")}}<i class="fa fa-image" title="Image"></i>
            {{else if (eq field.property "sameAs")}}<i class="fa fa-link" title="Equivalent"></i>
            {{/if}}
          </div>
          <div class="col-sm-10 col-xs-9">
            {{#each field.values as |value|}}
              <div class="contact-field-item">
                {{#each value.sources as |source|}}
                  {{service-source-tag source=source.type service=source.service account=source.account}}
                {{/each}}
                {{#if (eq field.property "image")}}
                  <img src={{value.value}}/>
                {{else if (eq field.property "sameAs")}}
                  {{#link-to "contacts.item" value.route}}{{value.value}}{{/link-to}}
                {{else}}
                  {{value.value}}
                {{/if}}
              </div>
            {{/each}}
          </div>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>
</div>