<div class="app-body-header jumbotron title">
  <h1><i class="fa fa-clock-o"></i> Timeline</h1>
  <div class="app-body-header-command">
    <div class="btn-group">
      <button class="btn btn-secondary" {{action 'showToday'}}>Today</button>
      {{#if details}}
        <button class="btn btn-secondary" {{action 'hideDetails'}}>{{fa-icon "caret-up"}}</button>
      {{else}}
        <button class="btn btn-secondary" {{action 'showDetails'}}>{{fa-icon "caret-down"}}</button>
      {{/if}}
    </div>
  </div>
</div>
<div class="timeline-header-date-bar">
    {{pick-a-date class="form-control timeline-header-input-date" date=(readonly dateJs) on-selected=(action 'showDate') options=(hash format="yyyy-mm-dd" selectYears=true selectMonths=true) placeholder="Pick a date"}}
    {{#power-select triggerClass="form-control timeline-header-input-time-zone" options=timeZones placeholder="Time zone" selected=timeZone onchange=(action "selectTimeZone") as |zone|}}
      {{zone}}
    {{/power-select}}
</div>


