{{#if isStay}}
    {{#timeline/timeline-details-item-row selected=highlighted scrollTo=scrollTo click=(action "toggleSelected")}}
        <td class="timeline-stay-column"><span class="timeline-stay-index">{{item.index}}</span>{{#if showEventsNotEmpty}}<span class="timeline-event-count"><i class="fa fa-calendar"></i>{{item.events.length}}</span>{{/if}}</td>
        <td class="timeline-line-column"><i class="fa fa-circle timeline-stay-icon"></i></td>
        <td>{{timeline/timeline-item-time from=item.from to=item.to relativeTo=date}}</td>
    {{/timeline/timeline-details-item-row}}
    {{#if showEventsNotEmpty}}
        {{#if highlighted}}
            {{#each item.events as |event|}}
                <tr class="timeline-row table-info" {{action "toggleSelected" on="click"}}>
                    <td></td>
                    <td class="timeline-line-column"><i class="fa fa-calendar timeline-stay-icon"></i></td>
                    <td><div>{{timeline/timeline-item-time from=event.from to=event.to relativeTo=date}}</div>
                      <div><strong>{{event.name}}</strong>
                        <dl>
                          {{#each event.placeComponents as |placeComponent|}}
                            <dt>{{placeComponent.name}}</dt>
                            <dd>{{placeComponent.value}}</dd>
                          {{/each}}
                        </dl>
                      </div>
                    </td>
                </tr>
            {{/each}}
        {{/if}}
    {{/if}}
{{else}}
    {{#timeline/timeline-details-item-row selected=highlighted scrollTo=scrollTo click=(action "toggleSelected")}}
        <td class="timeline-stay-column">{{#if showEventsNotEmpty}}<span class="timeline-event-count"><i class="fa fa-calendar"></i>{{item.events.length}}</span>{{/if}}</td>
        <td class="timeline-line-column"></td>
        <td>{{durationFormatted}} - {{distanceFormatted}} ({{speedFormatted}})</td>
    {{/timeline/timeline-details-item-row}}
    {{#if showEventsNotEmpty}}
        {{#if highlighted}}
            {{#each item.events as |event|}}
                <tr class="timeline-row table-info" {{action "toggleSelected" on="click"}}>
                   <td></td>
                    <td class="timeline-line-column"><i class="fa fa-calendar timeline-stay-icon"></i></td>
                    <td><div>{{timeline/timeline-item-time from=event.from to=event.to relativeTo=date}}</div>
                      <div><strong>{{event.name}}</strong>
                        {{#if event.interestingPlace}}Interesting !{{/if}}
                        <dl>
                          {{#each event.placeComponents as |placeComponent|}}
                            <dt>{{placeComponent.name}}</dt>
                            <dd>{{placeComponent.value}}</dd>
                          {{/each}}
                        </dl>
                      </div>
                    </td>
                </tr>
            {{/each}}
        {{/if}}
    {{/if}}
{{/if}}
