<div class="row">
  <div class="col-md-6">
    <i class="fa fa-plug" aria-hidden="true"></i>
    {{#link-to "data-services" class="nav-link"}}
    <span>Services</span>
    {{/link-to}}
    <span> > {{model.name}}</span>
  </div>
</div>
<div>
  {{#if model.isExternalService}}
    {{external-service model=model}}
  {{else if model.isEmailService}}
    {{email-service model=model}}
  {{else if model.isFileService}}
    {{file-service model=model}}
  {{/if}}
</div>